<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>七忍手游运营系统管理后台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="http://www.layui.com/admin/" target="_blank" title="前台">
              <i class="layui-icon layui-icon-website"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords="> 
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          
          <li class="layui-nav-item" lay-unselect>
            <a lay-href="basicSystem/message.html" layadmin-event="message" lay-text="消息中心">
              <i class="layui-icon layui-icon-notice"></i>  
              
              <!-- 如果有新消息，则显示小圆点 -->
              <span class="layui-badge-dot"></span>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="note">
              <i class="layui-icon layui-icon-note"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite>贤心</cite>
            </a>
            <dl class="layui-nav-child">
              <dd><a lay-href="set/user/info.html">基本资料</a></dd>
              <dd><a lay-href="basicSystem/password.html">修改密码</a></dd>
              <hr>
              <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
            </dl>
          </li>
          
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="console">
            <span>layuiAdmin</span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;" lay-tips="基础系统" lay-direction="2">
                <i class="layui-icon layui-icon-home"></i>
                <cite>基础系统</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="console" class="layui-this">
                  <a lay-href="/basicSystem/sysSetting">系统配置</a>
                </dd>
                <dd data-name="console">
                  <a lay-href="/basicSystem/role">角色管理</a>
                </dd>
                <dd data-name="console">
                  <a lay-href="/basicSystem/admin">管理员管理</a>
                </dd>
              </dl>
            </li>
            <li data-name="component" class="layui-nav-item">
              <a href="javascript:;" lay-tips="组件" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>运营系统</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="grid">
                  <a href="javascript:;">通知公告管理</a>
                </dd>
                <dd data-name="button">
                  <a lay-href="component/button/index.html">渠道管理</a>
                </dd>
                <dd data-name="form">
                  <a href="javascript:;">发行商管理</a>
                </dd>
                <dd data-name="nav">
                  <a lay-href="component/nav/index.html">游戏管理</a>
                </dd>
                <dd data-name="tabs">
                  <a lay-href="component/tabs/index.html">玩家管理</a>
                </dd>
                <dd data-name="progress">
                  <a lay-href="component/progress/index.html">渠道封禁</a>
                </dd>
                <dd data-name="panel"> 
                  <a lay-href="component/panel/index.html">游戏圈管理</a>  
                </dd>
                <dd data-name="badge"> 
                  <a lay-href="component/badge/index.html">活动管理</a>  
                </dd>
                </dl>
            </li>
            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="页面" lay-direction="2">
                <i class="layui-icon layui-icon-template"></i>
                <cite>结算系统</cite>
              </a>
              <dl class="layui-nav-child">
                <dd><a lay-href="template/personalpage.html">游戏基础分成比例设置</a></dd>
                <dd><a lay-href="template/addresslist.html">渠道特殊分成比例设置</a></dd>
                <dd><a lay-href="template/goodslist.html">发行商结算信息</a></dd>
                <dd><a lay-href="template/msgboard.html">渠道结算信息</a></dd>
                <dd><a lay-href="template/search.html">渠道结算申请处理</a></dd>
                <dd><a href="user/reg.html" target="_blank">渠道结算记录</a></dd>
                <dd><a href="user/login.html" target="_blank">发行商结算记录</a></dd>
              </dl>
            </li>
            <li data-name="app" class="layui-nav-item">
              <a href="javascript:;" lay-tips="渠道宣传网站" lay-direction="2">
                <i class="layui-icon layui-icon-app"></i>
                <cite>渠道宣传网站</cite>
              </a>
              <dl class="layui-nav-child">
                
                <dd data-name="content">
                  <a href="javascript:;">代金券管理</a>
                </dd>
                <dd data-name="forum">
                  <a href="javascript:;">游戏素材</a>
                </dd>
                <dd>
                  <a lay-href="app/message/index.html">游戏礼包管理</a>
                </dd>
                <dd data-name="workorder">
                  <a lay-href="app/workorder/list.html">开服表管理</a>
                </dd>
                <dd data-name="workorder">
                  <a lay-href="app/workorder/list.html">游戏资讯管理</a>
                </dd>
                <dd data-name="workorder">
                  <a lay-href="app/workorder/list.html">广告管理</a>
                </dd>
                <dd data-name="workorder">
                  <a lay-href="app/workorder/list.html">猜你喜欢</a>
                </dd>
                <dd data-name="workorder">
                  <a lay-href="app/workorder/list.html">消息推送</a>
                </dd>
                <dd data-name="workorder">
                  <a lay-href="app/workorder/list.html">友情链接</a>
                </dd>
                <dd data-name="workorder">
                  <a lay-href="app/workorder/list.html">app更新</a>
                </dd>
              </dl>
            </li>
            <li data-name="senior" class="layui-nav-item">
              <a href="javascript:;" lay-tips="数据查询系统" lay-direction="2">
                <i class="layui-icon layui-icon-senior"></i>
                <cite>数据查询系统</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a layadmin-event="im">用户数据</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">消费记录</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">渠道数据</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">游戏数据</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">充值记录</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">挂靠记录</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">平台币操作记录</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">返利申请记录</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">积分操作记录</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">代金券使用记录</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">渠道提现记录</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">账号交易记录</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">礼包申请记录</a>  
                </dd>
                <dd>
                  <a layadmin-event="im">活动参与记录</a>  
                </dd>
              </dl>
            </li>
            <li data-name="user" class="layui-nav-item">
              <a href="javascript:;" lay-tips="客服系统" lay-direction="2">
                <i class="layui-icon layui-icon-user"></i>
                <cite>客服系统</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="user/user/list.html">账号交易帖子审核</a>
                </dd>
                <dd>
                  <a lay-href="user/administrators/list.html">账号交易审核</a>
                </dd>
                <dd>
                  <a lay-href="user/administrators/role.html">返利申请处理</a>
                </dd>
                <dd>
                  <a lay-href="user/administrators/role.html">投诉处理</a>
                </dd>
              </dl>
            </li>
            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="监控系统" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>监控系统</cite>
              </a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">性能监控</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">登录日志</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">计划任务</a>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="console" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="console" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index');
  </script>
</body>
</html>


